html, body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(202, 180, 81);
    height: 20%;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

li {
    background-color: black;
    width: 25%;
    margin: 0% 2% 2% 2%;
}

li a{
    line-height:50px;
    display: block;
    color: bisque;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 100%;
}

li a:hover{
    background-color: green;
}