html, body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/* header */
        header{
            background-color: rgb(98, 62, 21);
            font-family: Verdana ;
            font-weight: bold;
            height: 20%;
            text-align: center;
        }
        h1{
            color: rgb(255, 166, 43);
            -webkit-text-stroke: 2px black;
        }

    /* Barra navegación */
        nav{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .ulnav{
            list-style-type: none;
            margin: 0%;
            padding: 0%;
            overflow: hidden;
            text-align: center;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: row;
            width: 100%;
        }
        .linav {
            background-color: black;
            width: 25%;
            margin: 0% 2% 2% 2%;
        }
        .linav a{
            line-height:50px;
            display: block;
            color: bisque;
            text-align: center;
            text-decoration: none;
            height: 50px;
            width: 100%;
        }
        .linav a:hover{
            background-color: rgb(112, 109, 103);
        }
    /* Barra navegación */
        nav{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .ulnav{
            list-style-type: none;
            margin: 0%;
            padding: 0%;
            overflow: hidden;
            text-align: center;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: row;
            width: 100%;
        }
        .linav {
            background-color: black;
            width: 25%;
            margin: 0% 2% 2% 2%;
        }
        .linav a{
            line-height:50px;
            display: block;
            color: bisque;
            text-align: center;
            text-decoration: none;
            height: 50px;
            width: 100%;
        }
        .linav a:hover{
            background-color: rgb(112, 109, 103);
        }

        /* Submenu barra de navegacion */
            .linav ul {
                display:none;
                position:absolute;
                min-width:140px;
                list-style-type: none;
                z-index: 1;
            }
            .linav ul li{
                background-color: black;
            }
            .linav:hover > ul {
                display:block;
            }
        /* Submenu barra de navegacion */
            .linav ul {
                display:none;
                position:absolute;
                min-width:140px;
                list-style-type: none;
                z-index: 1;
            }
            .linav ul li{
                background-color: black;
            }
            .linav:hover > ul {
                display:block;
            }

        /* Fin submenu barra navegacion */

    /* Fin barra navegacion */

/* Fin header */



/* footer */
    footer{
        background-color: rgb(128, 106, 83);
        font-weight: bolder;
        position: relative;
        width: 100%;
        text-align:center;
    }

        .redSocial{
            margin: 1% 5%;
        }
/* Fin footer */



/* Contenido pagina inicio */
    section{
        background-image: url(imagenes/fondo.webp);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
    } 
/* Contenido pagina inicio */
    section{
        background-image: url(imagenes/fondo.webp);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
    } 
/* Contenido pagina inicio */
    section{
        background-image: url(imagenes/fondo.webp);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
    } 

    .article{
        width: 40%;
        height: 50%;
        text-align: center;
        margin: 2% 2%;
        text-decoration: none;
        color: black;
    }
    .article{
        width: 40%;
        height: 50%;
        text-align: center;
        margin: 2% 2%;
        text-decoration: none;
        color: black;
    }

    .article:hover{
        background-color: rgb(237, 196, 149);
    }
    .article:hover{
        background-color: rgb(237, 196, 149);
    }

        .imgArt{
            margin-top: 5%;
            width: 90%;
            border: 5px rgb(143, 102, 56) solid;
        }
/* Fin contenido pagina inicio */



/* Contenido pagina islas */
    .contenidoIslas{
        background-color: rgb(234, 217, 184);
    }

    /* Submenu */
        .navSelect{
            padding: 0%;
            margin: 0%;
        }

        .select{
            width: 100%;
            background-color: grey;
            color: black;
            text-align: center;
            list-style-type: none;
        }

        .select a{
            display: block;
            text-decoration: none;
            color: black;
            width: 100%;
            line-height:50px;
            font-size: 200%;
        }

        .select a:hover{
            background-color: rgb(179, 175, 175);
        }

        .select ul{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: center;
            padding: 0%;
        }

        .select ul li{
            width: 33.5%;
        }

        .select ul li a{
            display: block;
            text-decoration: none;
            color: black;
            width: 100%;
            line-height:50px;
        }

        .select ul li a:hover{
            background-color: rgb(179, 175, 175);
        }
    /* Fin submenu */

    h2{
        text-align: center;
        text-decoration: underline;
        font-size: 50px;
        padding: 0%;
        margin-bottom: 0%;
    }

    /* Galeria yacimientos */
        .galeriaImg{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
        }

        /* Mallorca */
            .galeriaImg a{
                width: 30%;
                text-align: center;
                text-decoration: none;
                color: black;
                padding: 2% 0% 0% 0%;
            }

            .galeriaImg a:hover{
                background-color: rgb(253, 216, 143);
            }

            .galeriaImg a img{
                width: 90%;
                height: 80%;
                border:black 4px solid;
            }

        /* Fin Mallorca */

        /* Ibiza */
            .galeriaImg .aIbiza{
                width: 40%;
                text-align: center;
                text-decoration: none;
                color: black;
                padding: 2% 0% 0% 0%;
            }

            .galeriaImg .aIbiza:hover{
                background-color: rgb(253, 216, 143);
            }
        /* Fin Ibiza */
        
    /* Fin galeria yacimientos */

        .elemento{
            justify-content: center;
             width: 100%;
        }

        .elemento ol{
            list-style: none;
            padding: 0%;
        }
            
        .elemento input[type="radio"] {
            display: none;
            position: absolute;
        }
    
        /* filtrador */
            .filtrador{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            
            .filtrador li{
                text-align: center;
                width: 15%;
                margin: 1%;
            }
            
            .filtrador label{
                background-color: #7a5114;
                color: #fff;
                display: block;
                width: 100%;
                line-height:50px;
                cursor: pointer;
                border-radius: 2rem;
            }
                
            .filtrador label:hover {
                background-color: #b07a28;
                color: #fff;
            }
        /* Fin filtrador */
        
        /* posts de las imagenes */
            .posts{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
            }
            
            .posts li {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                width: 40%;
            }

            .posts li a{
                text-decoration: none;
            }
                
            .posts li img{
                width: 90%;
                border:black 4px solid;
            }
                
            .posts li p{
                padding: 1%;
                color: black;
                font: 1rem/1.3 sans-serif;
            }
        /* Fin posts */

        /* Reglas de filtrado */
            /* Encima de label */
                /* Municipio */
                [value="Arta"]:checked ~ .filtrador [for="Arta"],
                [value="Calvia"]:checked ~ .filtrador [for="Calvia"],
                [value="Alcudia"]:checked ~ .filtrador [for="Alcudia"],
                [value="Montuiri"]:checked ~ .filtrador [for="Montuiri"],
                [value="Santa"]:checked ~ .filtrador [for="Santa"],
                [value="Costitx"]:checked ~ .filtrador [for="Costitx"],
                [value="SantJosep"]:checked ~ .filtrador [for="SantJosep"],
                [value="Eivissa"]:checked ~ .filtrador [for="Eivissa"],
                [value="SantJoan"]:checked ~ .filtrador [for="SantJoan"],
                /* Tipo */
                [value="Poblado"]:checked ~ .filtrador [for="Poblado"],
                [value="Ciudad"]:checked ~ .filtrador [for="Ciudad"],
                [value="Necropolis"]:checked ~ .filtrador [for="Necropolis"],
                [value="Monumento"]:checked ~ .filtrador [for="Monumento"],
                [value="Santuario"]:checked ~ .filtrador [for="Santuario"],
                [value="Cueva"]:checked ~ .filtrador [for="Cueva"],
                /* Epoca */
                [value="Talaiotica"]:checked ~ .filtrador [for="Talaiotica"],
                [value="Romana"]:checked ~ .filtrador [for="Romana"],
                [value="Post-talaiotica"]:checked ~ .filtrador [for="Post-talaiotica"],
                [value="Prehistorica"]:checked ~ .filtrador [for="Prehistorica"],
                [value="Cartagines"]:checked ~ .filtrador [for="Cartagines"],
                [value="Fenicia"]:checked ~ .filtrador [for="Fenicia"] {
                    background-color: #d79e47;
                    color: #fff;
                }

            /* Segun el lugar saldra un post u otro */
                /* Municipio */
                [value="Arta"]:checked ~ .posts li:not([data-category~="Arta"]),
                [value="Calvia"]:checked ~ .posts li:not([data-category~="Calvia"]),
                [value="Alcudia"]:checked ~ .posts li:not([data-category~="Alcudia"]),
                [value="Montuiri"]:checked ~ .posts li:not([data-category~="Montuiri"]),
                [value="Santa"]:checked ~ .posts li:not([data-category~="Santa"]),
                [value="Costitx"]:checked ~ .posts li:not([data-category~="Costitx"]),
                [value="SantJosep"]:checked ~ .posts li:not([data-category~="SantJosep"]),
                [value="Eivissa"]:checked ~ .posts li:not([data-category~="Eivissa"]),
                [value="SantJoan"]:checked ~ .posts li:not([data-category~="SantJoan"]),
                /* Tipo */
                [value="Poblado"]:checked ~ .posts li:not([data-category~="Poblado"]),
                [value="Ciudad"]:checked ~ .posts li:not([data-category~="Ciudad"]),
                [value="Necropolis"]:checked ~ .posts li:not([data-category~="Necropolis"]),
                [value="Monumento"]:checked ~ .posts li:not([data-category~="Monumento"]),
                [value="Santuario"]:checked ~ .posts li:not([data-category~="Santuario"]),
                [value="Cueva"]:checked ~ .posts li:not([data-category~="Cueva"]),
                /* Epoca */
                [value="Talaiotica"]:checked ~ .posts li:not([data-category~="Talaiotica"]),
                [value="Romana"]:checked ~ .posts li:not([data-category~="Romana"]),
                [value="Post-talaiotica"]:checked ~ .posts li:not([data-category~="Post-talaiotica"]),
                [value="Prehistorica"]:checked ~ .posts li:not([data-category~="Prehistorica"]),
                [value="Cartagines"]:checked ~ .posts li:not([data-category~="Cartagines"]),
                [value="Fenicia"]:checked ~ .posts li:not([data-category~="Fenicia"]){
                    display: none;
                }
        /* Fin rules */

    /* Fin por municipios */

/* Fin contenido pagina islas */



/* Contenido pagina informacion de yacimientos */
    .contenido{
        background-color: rgb(234, 217, 184);
        padding: 2%;
    }

        .titulo{
            font-size: 40px;
            text-decoration: underline;
            font-weight: bold;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .info{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .imgYacimiento{
            border:black 4px solid;
        }

    .info p{
        font-size: 25px;
        padding: 0% 3%;
        margin-top: 1%;
    }

    .contenido iframe{
        height: 50%;
        width: 30%;
        float: right;
    }
/* Fin contenido pagina informacion de yacimientos */



@media screen and (max-width: 500px) {
    /* Nav header */
        .ulnav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        .ulnav li{
            width: 100%;
            margin-left: 0%;
        }
    /*Fin nav header */

    /* Pagina inicio */
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .article{
            width: 90%;
            text-align: center;
            margin-left: 5%;
        }

        .article h2{
            font-size: 20px;
        }
    /* Fin pagina inicio */

    /* Contenido pagina informacion de yacimientos */
        .titulo{
            font-size: 40px;
            text-decoration: underline;
            font-weight: bold;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .imgYacimiento{
            border:black 4px solid;
            width: 90%;
            margin-top: 2%;
            margin-left: 5%;
        }

        .info p{
            font-size: 20px;
            padding: 0% 3%;
            margin-top: 1%;
        }

        .contenido iframe{
            height: 50%;
            width: 100%;
        }
    /* Fin contenido pagina informacion de yacimientos */
    
    /* Contenido pagina islas */
        /* Submenu */
            .select ul{
                display: flex;
                flex-direction: column;
            }

            .select ul li{
                width: 100%;
            }
        /* Fin submenu */
    /* Fin contenido pagina islas */
}
