html, body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

header{
    background-image:url("iconos/banner.jpg");
    font-family: Verdana ;
    font-weight: bold;
    height: 20%;
    text-align: center;
}

h1{
    color: rgb(255, 166, 43);
    -webkit-text-stroke: 2px black;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.menu {
    background-color: black;
    width: 25%;
    margin: 0% 2% 2% 2%;
}

.menu a{
    line-height:50px;
    display: block;
    color: bisque;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 100%;
}

.menu a:hover{
    background-color: green;
}

footer{background-color: rgb(128, 106, 83);
       font-weight: bolder;
       position: absolute;
       bottom: 0;
       width: 100%;
       height: 12%;
       text-align:center
}

li ul {
    display:none;
    position:absolute;
    min-width:140px;
    list-style-type: none;
}

li ul li{
    background-color: black;
}

li:hover > ul {
    display:block;
}
